/*Styling for the navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #12492f;
  color: white;
  height: 120px;
  width: 100%;
  position: fixed;
}

nav span{
  font-family: Bungee;
  margin: 1.5em;
}

.nav-write-tweet{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5em;
}

