/*Styling for the navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #12492f;
  color: white;
  height: 120px;
  width: 100%;
  position: fixed;
  padding: 0 20px;
}

nav span{
  font-family: Bungee;
  margin: 1.5em;
}

.nav-write-tweet{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  font-size: 16px;
}

@media screen and (max-width: 1023px) {
  nav {
    background-color: #f56038;
    background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
  }
}