.tweet-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffca7a;
  color: #545149;
  margin-top: 50px;
  padding: 5px 15px;
  border: 4px solid black;
}

.state:hover{
  color: #f56038;
  cursor: pointer;
}

.tweet-container:hover {
  box-shadow: 5px 5px 50px #f56038;
  cursor: pointer;
}

.tweet{
  display: flex;
  justify-content: flex-start;
  text-align: start;
  word-break: break-all;
}

.user-info{
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}


.avatar-name{
  display: flex;
  align-items: center;
}


.avatar-name img{
  border-radius: 25%;
  width: auto;
  height: 50px;
  margin-right: 8px;
  word-break: break-all;
}

.time-retweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-top: 5px solid black;
}



@media screen and (min-width: 1024px) {
  .tweet-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffca7a;
    color: #545149;
    margin-top: 50px;
    border: 4px solid black;
  }
}